/* SF Pro Display */
@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  /* SF Pro Display Black */
@font-face {
    font-family: 'SF Pro Display Black';
    src: url('/fonts/SF-Pro-Display-Black.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  /* SF Pro Text */
  @font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/SF-Pro-Text-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  /* SF Pro Rounded */
  @font-face {
    font-family: 'SF Pro Rounded';
    src: url('/fonts/SF-Pro-Rounded-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  